body {
    background-color: black;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    color: white;
    text-align:center;
    font-size: 100px
}

form {
    background-color: #1b1b1b;
    align-items: center;
    width: 800px;
    height: 100px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
}

input {
    all: unset;
    font: 30px system-ui;
    color: blue;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

::placeholder {
    color: #4e4e4e;
    opacity: 0.7;
}

button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

svg {
    color: #fff;
    fill: currentColor;
    width: 44px;
    height: 44px;
    vertical-align: middle;
}